{% extends 'tasks/base.html' %}


{% block content %}
    <h2>{{ task.title }}</h2>
    <p>{{ task.description }}</p>
    
    <div class="button-container">
        <span class="completed-status"> Concluída: {% if task.completed %} Sim {% else %} Não {% endif %} </span>
        <!-- Formulário para marcar a tarefa como concluída -->
        <form method="post" action="{% url 'task_complete' task.pk %}" class="complete-form">
            {% csrf_token %}
            <label>
                <input type="checkbox" name="completed" value="true" {% if task.completed %}checked{% endif %} onchange="this.form.submit()">
                
            </label>
        </form>
        <a href="{% url 'task_update' task.pk %}" class="btn">Editar</a>
        <form method="post" action="{% url 'task_delete' task.pk %}" class="delete-form">
            {% csrf_token %}
            <button type="submit" class="btn">Excluir</button>
        </form>
    </div>
    <style>
        .button-container {
            display: flex; /* Usar flexbox para alinhar os elementos lado a lado */
            align-items: center; /* Alinha verticalmente os itens no centro */
            gap: 10px; /* Espaçamento entre os botões e o status */
            margin-top: 20px; /* Espaçamento acima dos botões */
        }
        .completed-status {
            margin-right: 10px; /* Espaçamento à direita do status de conclusão */
            font-weight: bold; /* Destaca o texto */
        }
        .btn {
            background-color: #93BFB7; /* Cor de fundo dos botões */
            color: #2D3E40; /* Cor do texto dos botões */
            padding: 10px 20px; /* Espaçamento interno dos botões */
            border: none; /* Remove a borda padrão */
            border-radius: 5px; /* Bordas arredondadas */
            text-decoration: none; /* Remove o sublinhado do link */
            cursor: pointer; /* Muda o cursor para indicar que é clicável */
            transition: all 0.3s ease; /* Transição suave para o efeito de hover */
        }
       .btn:hover {
            background-color: #E4F2E7; /* Cor de fundo ao passar o mouse */
            color: #2D3E40; /* Cor do texto ao passar o mouse */
            transform: scale(1.1); /* Aumenta o tamanho do botão */
        }
       .delete-form {
            display: inline; /* Garante que o formulário se comporte como um botão */
        }
    </style>
{% endblock %}